<a href="https://colab.research.google.com/github/GonzalezFcoJavier/Mineria_de_Datos/blob/main/Ej_Phyton_1687417.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("Hola mundo!")

Hola mundo!

Ejercicio 1: Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [22]:
nom = str ("Francisco Javier Gonzalez Olivares")
mat = int (1687417)
print("Nombre: ", nom,"|", "Matricula: ", mat)

Nombre:  Francisco Javier Gonzalez Olivares | Matricula:  1687417

Ejercicio 2: Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [92]:
n1 = float ( input ("Introduce el primer numero: "))
n2 = float ( input ("Introduce el segundo numero: "))

print("\nLa suma es: ", n1+n2)
print("La resta es: ", n1-n2)
print("La multiplicacion es: ", n1*n2)
print("La divicion es es: ", n1/n2)

Introduce el primer numero: 124
Introduce el segundo numero: 1234

La suma es:  1358.0
La resta es:  -1110.0
La multiplicacion es:  153016.0
La divicion es es:  0.10048622366288493

Ejercicio 3: Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [93]:
x = int (0)
print("Lista de 10 numeros multiplos de 3: \n")
i=3
while i <= 30:
  print (i)
  i=i+3
  x=i+x
print("\nLa suma de los 10 numeros anteriores es: ",x)

Lista de 10 numeros multiplos de 3:

3
6
9
12
15
18
21
24
27
30

La suma de los 10 numeros anteriores es:  195

Ejercicio 4: 
 Con una función de if else, revisar si un número es par o es impar.
| Con una función de if else, revisar si un número es primo o no.

In [70]:
n= int ( input ("Introduce un numero: "))
n1=n%2
if n1 == 0 :
  print("El numero es par")
else :
  print("El numero es impar")

Introduce un numero: 1324235
El numero es impar

Ejercicio 5: Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [90]:
n1 = float(input("Introduce el primer numero X: "))
n2 = float(input("Introduce el segundo numero Y: "))
print("\n 1.- SUMA X+Y")
print("2.- RESTA X-Y")
print("3.- MULTIPLICACION X*Y")
print("4.- DIVICION X/Y")
print("5.- DIVICION Y/X")
print("6.- EXPONENTE X^Y")
print("7.- EXPONENTE Y^X \n")

s = int(input ("Selecciona la opcion deseada: "))
if s==1:
  print("La suma es: ", n1+n2)
elif s== 2:
  print("La resta es: ",n1-n2 )
elif s== 3:
  print("La multiplicacion es: ", n1*n2)
elif s== 4:
  print("La divicion es: ", n1/n2)
elif s== 5:
  print("La divicion es: ", n2/n1)
elif s== 6:
  print("El exponencial es: ", n1**n2)
elif s== 7:
  print("El exponencial es: ", n2**n1)
else:
  print("Valor incorrecto")

Introduce el primer numero X: 10
Introduce el segundo numero Y: 2

 1.- SUMA X+Y
2.- RESTA X-Y
3.- MULTIPLICACION X*Y
4.- DIVICION X/Y
5.- DIVICION Y/X
6.- EXPONENTE X^Y
7.- EXPONENTE Y^X

Selecciona la opcion deseada: 6
El exponencial es:  100.0

Tuplas: 
Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [100]:
a = float (2.4)
b = int (3)
c= True
d= 657.23e+34

print("a es una variable: ", type(a))
print("b es una variable: ", type(b))
print("c es una variable: ", type(c))
print("d es una variable: ", type(d))

a es una variable:  <class 'float'>
b es una variable:  <class 'int'>
c es una variable:  <class 'bool'>
d es una variable:  <class 'float'>

Tuplas: Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [125]:
a=(1,2,3,4,5,6,7,8,9,10)
print("El primer elemento es: ", a[0], "\nEl ultimo elemento es: ", a[9])
type(a)

El primer elemento es:  1
El ultimo elemento es:  10

tuple

Tupla: Añadir 3 valores de string a la tupla.

In [152]:
a=(1,2,3,4,5,6,7,8,9,10,"hola","adios","Amigo")
print(a)
a= a+ ('Amiga',)
print(a)
dir(a)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'hola', 'adios', 'Amigo')
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'hola', 'adios', 'Amigo', 'Amiga')

Tupla: Verificar si una variable existe dentro de la tupla

In [180]:
a=(1,2,3,4,5,6,7,8,9,10)
c=  int(input("Elememto a revisar: "))
c in a

Elememto a revisar: 2

True

Listas: Crear una lista con 40 elementos aleatorios enteros.

In [481]:
import random 
list1 = [random.randint(0,100) for _ in range(50)]
print(list1)

type(list1)

[52, 74, 2, 49, 49, 25, 54, 97, 53, 25, 98, 62, 13, 72, 54, 54, 10, 89, 97, 45, 59, 96, 36, 97, 85, 26, 2, 51, 96, 4, 49, 92, 99, 8, 10, 83, 58, 75, 12, 67, 7, 86, 33, 8, 14, 61, 49, 97, 99, 99]

list

Listas: Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [534]:
import random 
list1 = [random.randint(0,100) for _ in range(50)]

def imparr(list1):
    impar=list()
    for e in list1:
        if e%2!=0:
            impar.append(e)
    return impar

print(imparr(list1))

TypeError: ignored

Diccionarios: Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [406]:
dict1={'Francisco':23,'Mauricio':19,'Adriana':5,'Maria':46,'Isidro':47,'Andrea':25}

Diccionarios: Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [428]:
dict1={'Francisco':23,'Mauricio':19,'Adriana':5,'Maria':46,'Isidro':47,'Andrea':25}

lista1=list(dict1.values())
type(lista1)

lista1.sort()
print(lista1)

[5, 19, 23, 25, 46, 47]

Diccionarios: Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [432]:
dict1={'Francisco':23,'Mauricio':19,'Adriana':5,'Maria':46,'Isidro':47,'Andrea':25}

dict1['Norma']= 28
dict1['Alberto']= 61

print(dict1)

{'Francisco': 23, 'Mauricio': 19, 'Adriana': 5, 'Maria': 46, 'Isidro': 47, 'Andrea': 25, 'Norma': 28, 'Alberto': 61}

Sets: Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [455]:
import random as rm
a=set(random.randint(1,25) for _ in range(100))
print(a)
type(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

set

Sets: Comprueba la longitud de tu set.

In [454]:
import random as rm
a=set(random.randint(1,25) for _ in range(100))
len(a)

25

Sets: Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [479]:
b= list(random.randint(1,10) for _ in range(5))
a=list(set(random.randint(1,25) for _ in range(100)))
print(a)
print(b)

for i in range (5):
  print(a[1] in b )

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
[5, 2, 3, 4, 2]
True
True
True
True
True